.main-timeline {

    position: relative;
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: 55%;
    margin: -20px auto 0;
    padding: 30px 0 0 50px;
    float: left;
    position: relative;
}


.main-timeline .timeline-count {
    color: #fff;
    background: linear-gradient(to right bottom, #4699F7, #4699F7);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 45px;
    height: 70px;
    width: 70px;
    border: 10px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: -25px;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
    margin: 0 auto;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+2) .timeline-count {
    background: linear-gradient(to right bottom, #E61B91, #C42484);
}

.main-timeline .timeline:nth-child(4n+2) .timeline-icon {
    color: #C42484;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+3) .timeline-count {
    background: linear-gradient(to right bottom, #0BC1A8, #31D2C3);
}

.main-timeline .timeline:nth-child(4n+3) .timeline-icon {
    color: #0BC1A8;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+4) .timeline-count {
    background: linear-gradient(to right bottom, #FF8C00, #FCB100);
}

.main-timeline .timeline:nth-child(4n+4) .timeline-icon {
    color: #FF8C00;
}

@media screen and (max-width:990px) {
    .main-timeline .timeline {
        margin: -30px auto 0;
    }
}

@media screen and (max-width:767px) {

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even) {
        width: 100%;
        min-height: 150px;
        padding: 20px 0 0 20px;
        margin: 0;
    }

    .main-timeline .timeline-content {
        padding: 60px 20px 15px 20px;
    }

    .main-timeline .timeline-content:before {
        height: 80px;
        width: 100px;
        left: -20px;
        top: -20px;
    }

    .main-timeline .timeline-icon {
        transform: translateY(0);
        top: 5px;
    }

    .main-timeline .timeline-count {
        font-size: 20px;
        line-height: 30px;
        height: 30px;
        width: 30px;
        border-width: 1px;
        left: 0;
    }
}

@media screen and (max-width:567px) {
    .main-timeline .title {
        font-size: 18px;
    }
}